

@import url('https://fonts.googleapis.com/css?family=Anton|Cormorant+Garamond|Josefin+Sans');
@import url('https://fonts.googleapis.com/css?family=Rock+Salt');

body{
	padding-top: 4.375em;
	font-family: 'Josefin Sans', sans-serif;

}
img{
	max-width:100%;
}
section{
	display: block;
}
li{
	display: list-item;
	text-align: -webkit-match-parent;
}

h2,h3,h4,p{
	font-family: 'Josefin Sans', sans-serif;

}

footer{
	width: 100%;
	background-color: #000;
	opacity: .8;
	margin: 0;
	padding: .5em 0;
	text-align: center;
	color:  #fafafa;
	font-size: 1.1em;
}
.column{
	padding: 1em;
	box-sizing: border-box;
	margin: 0 auto;
	max-width: 28em;
	text-align: center;
}

.column img{
	width: 65%;
	 border-radius: 50%;
	margin-bottom: 1.25em;

}
.column p {
  text-align: justify;
}

.column .btn {
  border: 0.125rem solid #1CBCBD; /* 2px */
  padding: 0.625rem 1.25rem; /* 10px 20px */
  display: inline-block;
  margin: 0.625em auto; /* 10px */
  font-size: 1.5em; /* 24px */
  text-decoration: none;
  color: #1CBCBD;
  transition: all 150ms ease-in-out;
}

.column .btn:hover {
  background-color: #1CBCBD;
  color: #fafafa;
}


.main {
  /*display: inline-block;*/
  padding: 1.5625em 0; /* 25px */
  width: 100%;
	min-height: 40em;
	padding: 15% 0 0 0;
}
.imgShadow{
	 -webkit-box-shadow: 2px 7px 25px -2px rgba(0,0,0,0.43);
  -moz-box-shadow: 2px 7px 25px -2px rgba(0,0,0,0.43);
  box-shadow: 2px 7px 25px -2px rgba(0,0,0,0.43);
}

md-sidenav{
	background-color: rgba(250,250,250,0.8)!important;
	position: fixed !important;

}
md-tooltip{
	color: #000 !important;
	font-size: 1em !important;
}
md-divider{
	margin: 0 .5em!important;
width: 95% !important;
padding: 0 -5% !important;
}
.navItem{
	text-align: center !important;
	width:100%;
	text-decoration: none;
	color: #000D;

}
.navItem:hover {
	color: #fff;
	background-color: #1CBCBD;
	text-align: center !important;
	width:100%;

}
.navItem:active {
	color: #fff;
	background-color: #1CBCBD;
	text-align: center !important;
	width:100%;

}
.textCenter{
	text-align: center;
}

md-list-item button {
	display: none !important;
}
md-list-item md-button{
	min-width: 100% !important;

}

md-toolbar.md-default-theme:not(.md-menu-toolbar), md-toolbar:not(.md-menu-toolbar){
	background-color: rgba(250,250,250,0.8)!important;
}
.md-title{
	color:#1CBCBD !important;
	font-size: 1.5em !important;
}
.md-toolbar-tools .md-button md-icon{
	color:#000 !important;
}

/*Header*/

header{
	position: fixed;
	top: 0;
	left:0;
	background: rgba(250,250,250,0.8);
	border-bottom: .125em solid #ccc;
	height: 4.375em;
	width: 100%;

	-webkit-box-shadow: 0px 4px 17px -2px rgba(0,0,0,0.6);
-moz-box-shadow: 0px 4px 17px -2px rgba(0,0,0,0.4);
box-shadow: 0px 4px 17px -2px rgba(0,0,0,0.4);

	 -webkit-backdrop-filter: blur(0.5em);
          backdrop-filter: blur(0.5em);

}

nav ul{
	display: block;
	float: right;
	list-style: none;
	padding: 0;
	margin: 0;
}

nav li {
	float: left;
	width: auto;
	padding: 0 .5em;

}

.logoImg {
	margin-top: .4em;
	max-width: 75%;
}

#brand {
	float: left;
	margin: .25em;
}

#brand a {
	display: block;
	/*background: url('../images/r.svg') no-repeat top left;*/
	color: transparent;
	height: 1.75em;
	width: 1.75em;
}

.autoMarg{
	margin: 3% 0;
}
.autoMargHello{
	margin: 5% 0;
}

.container {
  width: 100%;
  max-width: 90em;
  margin: 0 auto;

}
.contentContainer{
	width: 95%;
	max-width: 90em;
	margin: .8em auto 0 auto;

	/*overflow: visible;*/
	min-height: 20em;

}
.cardStyle{
	max-width: 85%;
	margin: 0 auto;
}
.helloBack{
	max-width: 85%;
	margin: 0 auto 0 auto;
	background: rgba(255, 250, 250, 0.45)!important;
}

.helloBack h4 {
	margin: .6em 0;
	text-align: center !important;
	font-size: 2.5em;

}
.helloBack .container {
	text-align: center !important;


}


.helloBack h4 a {
	color: #000;
	text-decoration: none;

}
.helloBack h4 a:hover {
	text-shadow: 0.130rem 0.130rem 0.3rem rgba(0,0,0,0.5);
}
.helloBack h2{

	font-size: 2em;
	margin: .8em 0 0 2em ;
}

#about{
	padding: 15% 0 10% 0;
}
#resume{
	padding: 5% 0 10% 0;
}
#contact{
	padding: 10% 0 5% 0;
	background: url(../images/backing-contact.png) no-repeat center center fixed;
	background-size: cover;
}
/*End Header*/

/* Hero Section */

#hero{
	background:
		linear-gradient(
		rgba(250, 250, 250,0.4),
		rgba(0, 0, 0,0.8)),
		url(../images/backing-hero.png) no-repeat center center fixed;
		background-size: cover;
  	color: #fafafa;
  	text-align: center;
  	height: 40em;
  	padding: 1.5625em 0;


}


#hero img {

  max-width: 9.375em;
  border-radius: 50%;
   margin: 3.5em 0 0 0;
  -webkit-box-shadow: 2px 7px 25px -2px rgba(0,0,0,0.43);
  -moz-box-shadow: 2px 7px 25px -2px rgba(0,0,0,0.43);
  box-shadow: 2px 7px 25px -2px rgba(0,0,0,0.43);


}

#hero h2{
	font-size: 4em;
	margin-bottom: .25em;
	margin-top: .25em;
	font-family: 'Anton', sans-serif;
	text-shadow: 0.125rem 0.125rem 0.5rem #000;
}


#hero .city{
	font-size: 1.5em;
	color: #fff;
	border-bottom: .125em #fff solid ;
	display: inline-block;
	font-family: 'Josefin Sans', sans-serif;
	text-shadow: 0.125rem 0.125rem 0.5rem #000;

}



/* End Hero Section */

/*Social Section*/

.social {
	width: 100%;
	background-color: #8f838a;
	color: #fafafa;
    padding: .8em 0;
    text-align: center;
    font-family: 'Josefin Sans', sans-serif;

}

.social .container h3 {
	 font-size: 1.5em;
}

.social-list{

	list-style: none;
    display: inline-block;
    margin: 0;
    padding: 0;
    font-size: 3em;

}

.social-item{
	display: inline-table;

}
.social-item a{
	text-decoration: none !important;
	color: #000;
	padding: 0 1.1em;
    display: block;
    transition: transform 150ms ease-in-out;
}
.social-item a:hover {
  transform: scale(1.25);
}

.doList{
	list-style: none;
	margin: 0;
	text-align: left;
}
.doTitles{
	font-size: 1.1em;
	font-weight: bold;
}

.doBody{
	font-size: .88em;
}
.doBodyText{
	margin-top: -.8em;
	font-size: .95em;
}
.doBodyText i {
	font-size: .5em;
}
.doRegion{
	margin-bottom: 0.2em;
}

@media (min-width: 44em) {
  .column {
    float: left;
    width: 33.333%; /* 100/3 */
    padding: 1em; /* 16px */
    margin: 0;
  }
	.contentColumn {
    float: left;
    width: 50%; /* 100/3 */
    padding: 1em; /* 16px */
    margin: 0;
  }

	/*nav ul{
		display: none;
	}*/
}


@media (max-width: : 58em) {
  .column {
    padding: 0.625em; /* 10px */
  }
	.popup {
	  margin: 25% auto;
		min-width: 50%;}

		#hero h2{
			font-size: 3em;
		}

}

@media (max-width: 26em){
.social{
	padding: .3em 0;
}

#hero h2{
	font-size: 3em;
}
#hero p{
	font-size: 1.5em;
}

}
