<!doctype html>
<html>

<head>

	<meta charset="utf-8">
	<title>Ren Cummings</title>
	<link rel="shortcut icon" href="" type="image/x-icon">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" type="text/css" href="css/normalize.css">
	<link rel="stylesheet" type="text/css" href="css/main.css">
	<link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
	<link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/angular_material/0.11.2/angular-material.min.css">
	<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular.min.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.6/angular-animate.min.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.6/angular-aria.min.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.6/angular-messages.min.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/angular_material/1.1.0/angular-material.min.js"></script>
	<script src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/t-114/svg-assets-cache.js"></script>







</head>

<body>

	<script type="text/javascript" href="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>

	<div ng-app="App" ng-controller="AppCtrl">


		<md-sidenav class="md-sidenav-right md-whiteframe-z2" md-component-id="right" md-is-locked-open="$mdMedia('')">
			<md-toolbar class="logo" ng-click="toggleSidenav('right')">
				<h1 class="textCenter" ng-click="toggleSidenav('right')">
<a class="nav_scroll" href="#hero" ng-click="toggleSidenav('right')">
<img src="images/R.svg" alt="logo brand" />
</a>
</h1>
			</md-toolbar>
			<md-content>
				<md-list>
					<md-list-item class="navItem" ng-click="toggleSidenav('right')">
						<a href="#about" md-ink-ripple class="navItem nav_scroll" ng-click="toggleSidenav('right')">
							<h2>About</h2>
						</a>
						<span flex></span>

					</md-list-item>
					<md-divider></md-divider>
					<md-list-item class="navItem" md-ink-ripple ng-click="toggleSidenav('right')">
						<a href="#resume" md-ink-ripple class="navItem nav_scroll" ng-click="toggleSidenav('right')">
							<h2>Resume</h2>
						</a>
						<span flex></span>

					</md-list-item>
					<md-divider></md-divider>
					<md-list-item class="navItem" md-ink-ripple ng-click="toggleSidenav('right')">

						<a href="#contact" md-ink-ripple class="navItem nav_scroll" ng-click="toggleSidenav('right')">
							<h2>
						Contact
					</h2>
						</a>

						<span flex></span>

					</md-list-item>

				</md-list>

			</md-content>

		</md-sidenav>
		<!-- End Sidenav -->



		<section layout="column" role="main" flex>



			<md-content>


				<md-toolbar class="md-whiteframe-z2" role="toolbar" style="position:fixed;">
					<div class="md-toolbar-tools">


						<h2 class="md-title nav_scroll"> <a href="#hero" class="nav_scroll">Ren Cummings</a></h2>
						<span flex></span>
						<md-button class="md-icon-button " ng-click="toggleSidenav('right')" aria-label="Menu">
							<md-icon><i class="material-icons">menu</i></md-icon>
						</md-button>



					</div>
				</md-toolbar>




				<section id="hero">

					<img src="images/zebra-me.jpg" alt="IMA Zebra" />

					<h2>Ren Cummings</h2>
					<div class="city">DAYTON, OH</div>

				</section>

				<section class="main">
					<div class="container">



						<!--ABOUT-->
						<section id="about">
							<md-card class="cardStyle">
								<div class="contentContainer">
									<div class="autoMarg">
										<div class="column">
											<img class="imgShadow" src="images/heart.svg" alt="IMA Zebra" />
										</div>

										<div class="contentColumn">
											<h2>Hello! I'm Ren.</h2>
											<p>
												I am a self taught front-end developer working on becoming a full-stack software developer. I work for a local start-up in Dayton,OH as a UI/UX specialist and front-end designer/developer. I also do the work of a creative department. I enjoy creative
												problem solving and working through challenges that activate the stimulation of the brain.
											</p>

											<p>
												<strong>The Gist:</strong><br /> I enjoy coding, coloring, and cardio!
											</p>
										</div>

									</div>



								</div>
							</md-card>
						</section>

						<!--WHAT I DO-->
						<section id="resume">
							<md-card class="cardStyle">

								<div class="contentContainer">
									<h2>This is what I do!</h2>
									<div class="column">
										<ul class="doList">
											<h2 class="doRegion">Skills & Languages</h2>
											<li>HTML/CSS</li>
											<li>Bootstrap</li>
											<li>Material Design</li>
											<li>javascript</li>
											<li>Angular JS</li>
											<li>C#</li>
											<li>C++</li>
											<li>Swift</li>
											<li>iOS App Development</li>
											<li>Front-End Development</li>
											<li>Version Control (Git)</li>
											<li>Responsive Web Design</li>
											<li>Graphic Design</li>
											<li>Photography</li>
											<li>Curriculum Development</li>
										</ul>

										<ul class="doList">
											<h2 class="doRegion">Education</h2>
											<li class="doTitles">Front End Developer Certification</li>
											<li class="doBody">Free Code Camp, In Progress</li><br />
											<li class="doTitles">Master's of Fine Art</li>
											<li class="doBody">University of Tennessee, 2011</li><br />
											<li class="doTitles">Bachelor's of Fine Arts</li>
											<li class="doBody">Wright State University, 2008</li><br />

										</ul>

									</div>
									<div class="contentColumn">
										<ul class="doList">
											<h2 class="doRegion">Experience</h2>
											<li class="doTitles">UI/UX Specialist & Frontend Designer/Developer</li>
											<li class="doBody">MRS Electronic, Inc : April 2017 - Present </li><br />
											<li class="doBodyText">Provide visual perspective and graphic design capabilities to both the software and marketing team. With supplemental training in becoming a full-stack develper. Website administrator. </li><br />

											<li class="doTitles">Manager of Marketing & Creative Services</li>
											<li class="doBody">MRS Electronic, Inc : April 2016 - April 2017 </li><br />
											<li class="doBodyText">Plan and implement marketing activities. Operate social media accounts. Provide visual perspective and graphic design capabilities to both the software and marketing team. Website adminstrator.</li><br />

											<li class="doTitles">Adjunct Lecturer</li>
											<li class="doBody">Edison Community College : January 2015 - May 2016 </li><br />
											<li class="doBodyText">Observe and educate students in the introduction of Humanities. Prepare a semester based curriculum in areas explore the historical relevance of the different forms of fine arts with activities to further involvement.</li><br />

										</ul>
									</div>





								</div>
							</md-card>

						</section>


						<!--CONTACT-->
						<section id="contact">
							<md-card class="helloBack">
								<div class="contentContainer">
									<div class="autoMargHello">
										<h2>Say Hello Back!</h2>

										<h4><a href="mailto:n.ren.cummings@gmail.com">n.ren.cummings at gmail</a></h4>
									</div>


								</div>
							</md-card>
						</section>










						<!-- Social -->

						<section class="social">
							<div class="container">
								<h3>Hit Me Up!</h3>
								<ul class="social-list">
									<li class="social-item">
										<a href="https://www.linkedin.com/in/rencummings/" target="_blank">
											<!-- <i class="fa fa-linkedin" aria-hidden="true"></i></a> -->
											<img src="images/linkedin.svg" alt="linkedin" />
										</a>
									</li>
									<li class="social-item">
										<a href="https://twitter.com/stories_of_ren" target="_blank">
											<!-- <i class="fa fa-twitter" aria-hidden="true"></i> -->
											<img src="images/twitter.svg" alt="twitter" />
										</a>
									</li>
									<li class="social-item">
										<a href="https://www.instagram.com/storiesofbadhairandmakeup/" target="_blank">
											<!-- <i class="fa fa-instagram" aria-hidden="true"></i> -->
											<img src="images/instagram.svg" alt="instagram" />
										</a>
									</li>
								</ul>

							</div>


						</section>

						<footer>

							<p>
								<i class="fa fa-hand-spock-o" aria-hidden="true"></i> 2017 REN CUMMINGS
							</p>



						</footer>
					</div>
				</section>
			</md-content>
		</section>




	</div>
	<script type="text/javascript" src="js/main.js"></script>

	<script src="js/mainController.js">
		< script type = "text/javascript"
		href = "js/main.js" >
	</script>
	</script>





</body>

</html>
