@import url("https://fonts.googleapis.com/css?family=Righteous|Roboto+Slab&display=swap");
@import url("https://fonts.googleapis.com/css?family=Permanent+Marker&display=swap");
:root {
  /* font size */
  --fontSize-sm: 0.5rem;
  --fontSize-normal: 1rem;
  --fontSize-lg: 1.5rem;
  --fontSize-xl: 2rem;

  /* font face */
  --heading-font: "Righteous", cursive;
  --body-font: "Roboto Slab", serif;
  --hand-font: "Permanent Marker", cursive;

  /* font weight */
  --fontWeight-normal: 400;
  --fontWeight-medium: 600;
  --fontWeight-bold: 700;
}
