.ResumePage {
    display: flex;
    flex-direction: row;
    height: 20rem;
    justify-content: center;
    margin-top: 15rem;
    width: 100%;
  }
  .ResumePage__card {
    flex-grow: 1;
    max-width: 50%;
    padding: 2rem;
  }
  h1.ResumePage__card-text {
    font-family: var(--body-font);
    font-size: var(--fontSize-lg);
    font-weight: var(--fontWeight-bold);
  }
  @media (max-width: 1024px) {
    .ResumePage {
      margin-top: 13rem;
    }
    .ResumePage__card {
      max-width: 80%;
    }
    h1.ResumePage__card-text {
      font-family: var(--body-font);
      font-size: var(--fontSize-lg);
      font-weight: var(--fontWeight-bold);
    }
  }