.App {
  display: grid;
  grid: "headerArea" "content" 1fr / 1fr;
  overflow: hidden;

  main {
    grid-area: content;
  }
}

.Header {
  background: var(--c-gray-98);
  display: grid;
  grid: "title nav" / auto 1fr;
  grid-area: headerArea;
  left: 0;
  margin-bottom: 1.45rem;
  padding: 1rem 0 2rem 1rem;
  width: 100%;

  &__nav {
    align-self: center;
    justify-self: flex-start;
    display: flex;
    flex-direction: row;
    grid-area: nav;
    justify-content: center;
    margin-left: 2rem;

    @media (max-width: 675px) {
      display: flex;
      flex-direction: column;
    }

    &-link {
      margin: 0 0.5rem;
      text-decoration: none;

      > p {
        font-size: 0;
        margin: 0;
        padding: 0;
        visibility: hidden;
      }
    }
  }

  &__title {
    background: var(--c-gray-90);
    border-bottom: 1rem solid var(--c-primary);
    border-radius: 1rem;
    grid-area: title;
    height: 9rem;
    position: relative;
    width: 15rem;
    transform: rotate(-15deg);

    &-hello {
      background: var(--c-primary);
      border-radius: 1rem 1rem 0 0;
      position: absolute;
      width: 100%;

      &-nameIs {
        color: var(--text-light);
        font-family: var(--body-font);
        margin: 0;
        text-align: center;
      }

      &-hello {
        color: var(--text-light);
        font: 600 1.5rem "Helvetica Neue";
        letter-spacing: 1rem;
        margin: 0;
        text-align: center;
      }
    }

    &-heading {
      position: relative;
      left: 3rem;
      top: 1rem;

      > a {
        color: var(--c-gray-10);
        font-family: var(--hand-font);
        font-size: 5rem;
        letter-spacing: 0.1rem;
        text-decoration: none;
      }
    }
  }
}

.Hero {
  display: flex;
  justify-content: center;
  width: 100%;

  @media (max-width: 1024px) {
    margin-top: 13rem;
  }

  &__card {
    flex-grow: 1;
    max-width: 50%;
    padding: 2rem;

    @media (max-width: 1024px) {
      max-width: 80%;
    }

    &-text {
      font-family: var(--body-font);
      font-size: var(--fontSize-lg);

      @media (max-width: 1024px) {
        font-family: var(--body-font);
        font-size: var(--fontSize-normal);
      }
    }
  }
}

.AboutPage {
  height: 20rem;
  width: 100%;

  @media (max-width: 1024px) {
    margin-top: 13rem;
  }

  &__card {
    align-items: center;
    display: grid;
    grid: "title" "content" "redirect" / 1fr;
    margin: 0 auto;
    padding: 2rem;
    width: 40rem;

    @media (max-width: 1024px) {
      max-width: 80%;
    }

    &-text {
      font-family: var(--body-font);
      font-size: var(--fontSize-normal);
      @media (max-width: 1024px) {
        font-family: var(--body-font);
        font-size: var(--fontSize-normal);
      }
    }

    &-title {
      font-family: var(--body-font);
      font-size: var(--fontSize-xl);
      font-weight: var(--fontWeight-bold);
      margin: 0;
    }

    &-link {
      align-self: center;
      color: var(--c-accent-purple);
      font-family: var(--body-font);
      font-size: var(--fontSize-lg);
      grid-area: redirect;
      text-decoration: none;
      text-transform: uppercase;
      text-align: center;

      &:hover,
      &:focus {
        font-size: 2rem;
        font-weight: 700;
      }
    }
  }
}

.ContactPage {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
  @media (max-width: 1024px) {
    margin-top: 13rem;
  }

  &__card {
    flex-grow: 1;
    max-width: 50%;
    padding: 2rem;
    @media (max-width: 1024px) {
      max-width: 80%;
    }
  }

  &__card {
    &-text,
    &-email {
      font-family: var(--body-font);
      font-size: var(--fontSize-lg);
    }

    &-title {
      font-size: var(--fontSize-xl);
      @media (max-width: 1024px) {
        font-size: calc(var(--fontSize-xl) * 0.7);
      }
    }

    &-email {
      font-size: 2.5rem;
      font-weight: var(--fontweight-bold);
      padding: 2rem;
      text-align: center;
      text-transform: capitalize;

      @media (max-width: 1024px) {
        font-size: calc(var(--fontSize-lg) * 0.95);
        padding: 2rem;
        text-align: center;
        text-transform: capitalize;
      }

      > a {
        color: var(--c-primary);
        text-align: center;
        text-decoration: none;

        &:hover,
        &:focus {
          font-size: 2.65rem;
          font-weight: 700;
        }
      }
    }

    &-social {
      justify-items: center;
      display: grid;
      grid: 1fr / 25% 25% 25% 25%;
      width: 100%;

      @media (max-width: 1024px) {
        grid: 50% 50% / 50% 50%;
        margin: 0 auto;
        width: 80%;
      }

      > a {
        color: var(--c-primary);
        margin: 0.5rem;
      }
    }
  }
}

.ResumePage {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;

  &__card {
    flex-grow: 1;
    max-width: 50%;
    padding: 2rem;

    &-skills {
      display: grid;
      grid: 1fr / 50% 50%;
      height: 55vh;
      overflow: auto;
    }

    &-text {
      font-family: var(--body-font);
      font-size: var(--fontSize-normal);

      dt {
        font-family: "Helvetica Neue";
        font-weight: var(--fontWeight-medium);
      }
    }

    &-title {
      font-family: var(--body-font);
      font-size: var(--fontSize-xl);
      font-weight: var(--fontWeight-bold);
      margin: 0;
    }

    &-head {
      color: var(--c-primary);
      font-family: var(--body-font);
      font-size: 1.25rem;
      font-weight: var(--fontWeight-bold);
    }
  }
}
