.Hero {
  display: flex;
  justify-content: center;
  width: 100%;

  &__card {
    flex-grow: 1;
    max-width: 80ch;
    padding: 2rem;

    @media (max-width: 767px) {
      max-width: 80%;
    }

    &-text {
      font-family: var(--body-font);
      font-size: var(--fontSize-lg);

      @media (max-width: 767px) {
        font-family: var(--body-font);
        font-size: var(--fontSize-normal);
      }
    }
  }
}

.AboutPage {
  width: 100%;

  &__card {
    align-items: center;
    display: grid;
    grid: "title" "content" "redirect" / 1fr;
    margin: 0 auto;
    padding: 2rem;
    max-width: 60%;

    @media (max-width: 767px) {
      max-width: 100%;
    }

    &-text {
      font-family: var(--body-font);
      font-size: var(--fontSize-normal);

      @media (max-width: 767px) {
        font-family: var(--body-font);
        font-size: var(--fontSize-normal);
      }
    }

    &-title {
      font-family: var(--body-font);
      font-size: var(--fontSize-xl);
      font-weight: var(--fontWeight-bold);
      margin: 0;
    }

    &-link {
      align-self: center;
      color: var(--c-accent-purple);
      font-family: var(--body-font);
      font-size: var(--fontSize-lg);
      grid-area: redirect;
      text-decoration: none;
      text-transform: uppercase;
      text-align: center;

      @media (max-width: 767px) {
        font-size: 1rem;
      }

      &:hover,
      &:focus {
        font-size: 2rem;
        font-weight: 700;
      }
    }
  }
}

.ContactPage {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;

  &__card {
    flex-grow: 1;
    max-width: 50%;
    padding: 2rem;
    @media (max-width: 767px) {
      max-width: 80%;
    }
  }

  &__card {
    &-text,
    &-email {
      font-family: var(--body-font);
      font-size: var(--fontSize-lg);
    }

    &-title {
      font-size: var(--fontSize-xl);
      @media (max-width: 767px) {
        font-size: calc(var(--fontSize-xl) * 0.7);
      }
    }

    &-email {
      font-size: 2.5rem;
      font-weight: var(--fontweight-bold);
      padding: 2rem;
      text-align: center;
      text-transform: capitalize;

      @media (max-width: 767px) {
        font-size: calc(var(--fontSize-lg) * 0.95);
        padding: 2rem;
        text-align: center;
        text-transform: capitalize;
      }

      > a {
        color: var(--c-primary);
        text-align: center;
        text-decoration: none;

        &:hover,
        &:focus {
          font-size: 2.65rem;
          font-weight: 700;
        }
      }
    }

    &-social {
      justify-items: center;
      display: grid;
      grid: 1fr / 25% 25% 25% 25%;
      width: 100%;

      @media (max-width: 767px) {
        grid: 50% 50% / 50% 50%;
        margin: 0 auto;
        width: 80%;
      }

      > a {
        color: var(--c-primary);
        margin: 0.5rem;
      }
    }
  }
}

.ResumePage {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;

  &__card {
    flex-grow: 1;
    max-width: 90%;
    padding: 2rem;
    @media (max-width: 767px) {
      padding: 0;
      max-width: 90%;
    }

    &-skills {
      justify-items: center;
      display: grid;
      grid: 1fr / 50% 50%;
      height: 55vh;
      overflow: auto;

      @media (max-width: 767px) {
        justify-items: flex-end;
        display: block;
        height: 60vh;
        overflow: auto;
      }
    }

    &-text {
      font-family: var(--body-font);
      font-size: var(--fontSize-normal);

      dt {
        font-family: "Helvetica Neue";
        font-weight: var(--fontWeight-medium);
        margin-top: 0.5rem;
      }
    }

    &-title {
      font-family: var(--body-font);
      font-size: var(--fontSize-xl);
      font-weight: var(--fontWeight-bold);
      margin: 0;
    }

    &-head {
      color: var(--c-primary);
      font-family: var(--body-font);
      font-size: 1.25rem;
      font-weight: var(--fontWeight-bold);
    }
  }
}
