.Header {
  background: var(--c-gray-98);
  align-items: flex-end;
  display: flex;
  flex-direction: row;
  height: 13rem;
  left: 0;
  margin-bottom: 1.45rem;
  padding: 1rem 0 2rem 1rem;
  position: fixed;
  top: 0rem;
  width: 100%;
}

.Header > nav {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-left: 1rem;
}

@media (max-width: 675px) {
  .Header > nav {
    display: flex;
    flex-direction: column;
  }
}
.Header__nav-link {
  margin: 0 0.5rem;
  text-decoration: none;
}
.Header__nav-link > h2 {
  font-size: 0;
  margin: 0;
  padding: 0;
  visibility: hidden;
}

.Header__title {
  background: var(--c-gray-90);
  border-bottom: 1rem solid var(--c-primary);
  border-radius: 1rem;
  height: 9rem;
  position: relative;
  width: 15rem;
  transform: rotate(-15deg);
}

.Header__title-hello {
  background: var(--c-primary);
  border-radius: 1rem 1rem 0 0;
  position: absolute;
  width: 100%;
}

.Header__title-hello > h1 {
  color: var(--text-light);
  letter-spacing: 1rem;
  margin: 0;
  text-align: center;
}

.Header__title-hello > p {
  color: var(--text-light);
  font-family: var(--body-font);
  margin: 0;
  text-align: center;
}

.Header__title-heading {
  position: relative;
  left: 3rem;
  top: 1rem;
}

.Header__title-heading > a {
  color: var(--c-gray-10);
  font-family: var(--hand-font);
  font-size: 5rem;
  letter-spacing: 0.1rem;
  text-decoration: none;
}
